<a href="../../index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="{{ url_for('static', filename='Bootstrap-admin/images/LogoPDAM.png') }}" alt="PDAM" style="width: 50px;"></span>
    <!-- logo for regular state and mobile devices -->
    <img src="{{ url_for('static', filename='Bootstrap-admin/images/pdam3.png') }}" alt="PDAM" style="width: 180px; margin-bottom: 5px; margin-top: -10px;">
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <!-- CSS -->
    <style>
      h4{
        color: #FFFF;
      }
    </style>

    <!-- Navbar Rightside -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
      </ul>
    </div>

    <!-- Text Center -->
    <div class="text-center">
      <h4 class="font-mont" style="margin-top: 15px;"><b>SISTEM KLASIFIKASI MUTU AIR PDAM TIRTA RAHARJA</b></h4>
    </div>
    
  </nav>