<div class="modal fade" id="modalCekValueK" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-database"></i><b class="font-mont"> Grafik Nilai K Ideal</b></h3>
        </div>
        <div class="box-body">
          <!-- Chart K ideal -->
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title"><b>Jumlah K Ideal dari range 1 - 39</b></h3>
            </div>
            <div class="box-body">
              <div id="myCharts" style="height: 400px; width: 800px; margin-left: 40px;"></div>
            </div>
          </div>

          <!-- Label K Ideal -->
          <div class="row" style="margin-top: 30px;">
            <div class="col-xs-12">
              <div class="box box-solid">
                <div class="box-header with-border"></div>
                <div class="box-body">
                  <div class="row" style="margin-left: 20px;">

                    <!-- K Ideal -->
                    <!-- <div class="col-sm-4">
                      <label for="">K Ideal</label>
                      <div class="form-group">
                        <span class="label label-success" style="font-size: 15px;">Dari 1 - 14</span>
                      </div>
                    </div> -->

                    <!-- K Kurang Ideal -->
                    <!-- <div class="col-sm-4">
                      <label for="">K Kurang Ideal</label>
                      <div class="form-group">
                        <span class="label label-warning" style="font-size: 15px;">Dari 15 - 26</span>
                      </div>
                    </div> -->

                    <!-- K Tidak Ideal -->
                    <!-- <div class="col-sm-4">
                      <label for="">K Tidak Ideal</label>
                      <div class="form-group">
                        <span class="label label-danger" style="font-size: 15px;">Dari 27 - 38</span>
                      </div>
                    </div> -->

                  </div>
               </div>
              </div>
           </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Tutup</b></button>
        </div>
      </div>
    </div>
</div>